@import "tailwindcss";

@theme {
  --color-primary: #A8D0E6;
  --color-secondary: #24305E;
  --color-accent: #BF350B;
  --color-whitish: #FAF5F5;

  --font-regular: 'Nunito', sans-serif;
  --font-bold : 'Nunito', sans-serif;
}           